flask/app/__pycache__/__init__.cpython-310.pyc
flask/virtual_env
.gitignore
*/.venv
*/.venv2
.idea
*/__pycache__
*.pyc
*/.DS_Store

*.pyc
*.pyc
flask/app/__pycache__/__init__.cpython-310.pyc
flask/app/__pycache__/__init__.cpython-310.pyc
flask/app/__pycache__/database.cpython-310.pyc
flask/app/__pycache__/routes.cpython-310.pyc
.gcloudignore
